body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Bungee', cursive;
  background-color: #3d3e3e;
}

.flex {
  display: flex;
  justify-content: center;
  width: 950px;
}


.col1 {
  flex: 6;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid #a2a6a5;
}

.col2 {
  padding-top: 10%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #c1c4c3;
}

.col2 div {
  border-radius: 50%;
	width: 60px;
	height: 60px;
  border: 1px solid #abafae;
  margin-bottom: 10px;
}

.col2 div:nth-child(n):hover {
  transform: scale(1.05);
  cursor: pointer;
}

.col2 div:nth-child(n):active {
  transform: scale(0.95);
  cursor: pointer;
  border: 1px solid #f6ba2e;
}

.col2 div:nth-child(1) {
  background-color: #f9be33;
}

.col2 div:nth-child(2) {
  background-color: #f77e82;
}

.col2 div:nth-child(3) {
  background-color: #9edf89;
}

.col2 div:nth-child(4) {
  background-color: #21d2c5;
}

.col2 div:nth-child(5) {
  background-color: #147c87;
}

.col2 div:nth-child(6) {
  background-color: #793060;
}

p {
 justify-content: flex-end;
 align-items: flex-end;
}

.col3 {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #626564;
  padding-top: 20px;
}

.title div {
  display: flex;
  color: white;
  font-size: 60px;
  font-weight: 500;
  font-size-adjust: auto;
  list-style-type: none;
}

.title div {
  justify-content: center;
}

.title div:nth-child(1) {
  background-color: #f9be33;
}


.title div:nth-child(2) {
  background-color: #f77e82;
}

.title div:nth-child(3) {
  background-color: #9edf89;
}

.title div:nth-child(4) {
  background-color: #21d2c5;
}

.title div:nth-child(5) {
  background-color: #147c87;
}

.title div:nth-child(6) {
  background-color: #793060;
}

.title div:nth-child(7),
.title div:nth-child(8),
.title div:nth-child(9),
.title div:nth-child(10),
.title div:nth-child(11)  {
  font-size: 35px;
  font-weight: 100;
}

.row {
  height: 54px;
  display: flex;
  flex: 1 1 auto;
  background-color: #e0e3e2;
}

.avoid-clicks {
  pointer-events: none;
}

/*use to highlight current row on play*/
.highlighted {
  background-color: #f1ecef;
}

.guess {
  flex: 7 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  border-radius: 50%;
	width: 45px;
	height: 45px;
  border: 1px solid #bbbfbe;
}

.evaluate {
  flex: 1 1 auto;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=checkbox] {
  transform: scale(1.4);
}

.hide-until-complete {
  display: none;
}

.check-evaluate {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #898c8c;
}

.result {
  flex: 2 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-flow: wrap;
  padding: 15px;
  max-width: 50px;
}

.result-mini  {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #bbbfbe;
}

.is-correct-position {
  background-color: orangered;
}

.is-wrong-position {
  background-color: #ffffff;
}

.is-not {
  background-color: black;
}

.hidden {
  display: none;
}

.image_rules {
  width: 100%
}

.rules {
  justify-content: center;
  z-index: 10;
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
  width: 800px;
  border: 10px solid black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#rules_bttn {
  width: 100%;
}

.you-win {
  z-index: 10;
  position: absolute;
  margin-left: 150px;
  margin-top: 200px;
  width: 400px;
  height: 300px;
  border: 1px solid #bbbfbe;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.you-win div {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 40px;
}

button {
	background-color:#ffffff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#696769;
	font-family: 'Bungee', cursive;
	font-size:15px;
	padding:8px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background-color:#f6f0f0;
}
button:active {
	position:relative;
	top:1px;
}
